################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RadioUI/.vs/RadioUI
/RadioUI/obj
/RadioUI/RadioUI.csproj.user
