@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Current Radiation Measurements</h1>
    <div>
        <span id="cpmResult">0</span> cpm
    </div>
    <div>
        <span id="usvResult">0</span> usvh
    </div>
</div>
